.side-bar-continer {
    position: absolute;
    top: 60px;
    width: 50%;
    background-color: #1a1f26;
    color: aliceblue;
    height: 100%;
    padding: 30px;
    padding-left: 40px;
    z-index: 2;
    font-size: 30px;
    list-style: none;

    li {
        color: aliceblue;
        margin-bottom: 20px;
    }
}

.side-bar-continer.hidden {
    display: none;
}