.main-continer.create {
    padding: 5px;
    height: 83vh;

    .create-continer {
        display: flex;
        max-width: 400px;
        height: 470px;
        border: solid 1px black;
        background-color: rgb(214, 231, 244);
        color: rgb(0, 0, 59);
        text-align: center;

        .lable {
            margin: 8px;
            font-size: 16px;

            .input {
                width: 330px;
                height: 23px;
            }

            .select {
                height: 28px;
                padding: 2px;
            }

            .select.correct {
                width: 338px;
            }

        }

        .apply {
            margin-top: 7px;
            font-size: 20px;
            background-color: rgb(0, 53, 91);
            color: beige;
            border: solid 1px;
            border-color: white black black white;
            cursor: pointer;
        }

        .apply:hover {
            background-color: rgb(0, 88, 150);
        }

        .apply:active {
            border-color: black rgb(113, 113, 113) rgb(113, 113, 113) black;
        }
    }

    @include desktop-layout {
        padding-top: 15px;

        .create-continer {
            height: 500px;
            padding: 2px;
        }
    }

}