.main-app {

    .main-continer {
        background-color: rgb(253, 253, 253);
        height: 81vh;
        padding: 30px;
    }

    .home {
        display: grid;
        grid-template-areas:
            'annual score'
            'breast breast';
        grid-template-rows: 55% 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
}

.trend1,
.trend2,
.trend3 {
    background-color: rgb(233, 252, 255);
}

.trend1 {
    grid-area: score;
}
.trend2 {
    grid-area: annual;
}
.trend3 {
    grid-area: breast;
}