.main-continer.vote {

    .reqQuest {
        max-width: 300px;
        height: 160px;
        margin-left: auto;
        margin-right: auto;
        padding: 2px;
        border: solid 1px black;
        background-color: rgb(214, 231, 244);
        color: rgb(0, 0, 59);
        text-align: center;

        .apply {
            margin-top: 20px;
            font-size: 20px;
            background-color: rgb(0, 53, 91);
            color: beige;
            border: solid 1px;
            border-color: white black black white;
            cursor: pointer;
        }

        .apply:hover {
            background-color: rgb(0, 88, 150);
        }

        .apply:active {
            border-color: black rgb(113, 113, 113) rgb(113, 113, 113) black;
        }
    }

    .results {
        .correct {
            height: 50px;
            background-color: rgb(34, 255, 0);
            color: rgb(41, 0, 79);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .incorrect {
            height: 50px;
            background-color: rgb(215, 0, 0);
            color: rgb(255, 249, 88);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn {
            font-size: 21px;
            width: 80px;
            height: 35px;
            margin-left: auto;
            margin-top: 20px;
            background-color: rgb(85, 217, 217);
            color: rgb(0, 48, 31);
            border: solid 1px;
            border-color: white black black white;
            cursor: pointer;
        }

        .btn:hover {
            background-color: rgb(0, 63, 108);
            color: antiquewhite;
        }
    }

}